In [1]:
import pandas as pd
import os
import mysql.connector
from mysql.connector import Error
from sqlalchemy import create_engine

ModuleNotFoundError: No module named 'mysql'

In [3]:
# Load ENV Files
env_vars = {} # or dict {}
with open('env.txt') as f:
    for line in f:
        if line.startswith('#') or not line.strip():
            continue
        key, value = line.strip().split('=', 1)
        env_vars[key]= value
print(env_vars)

{'HOST': '64.20.33.250', 'DB': 'st19945_tickerData', 'USER': 'st19945_tickerData', 'PASSWORD': 'CU2021'}

In [4]:
# Run this Cell to ensure connected to DB
try:
    connection = mysql.connector.connect(host=env_vars['HOST'],
                                         database=env_vars['DB'],
                                         user=env_vars['USER'],
                                         password=env_vars['PASSWORD'])
    if connection.is_connected():
        db_Info = connection.get_server_info()
        print("Connected to MySQL Server version ", db_Info)
        cursor = connection.cursor()
        cursor.execute("select database();")
        record = cursor.fetchone()
        print("You're connected to database: ", record)

except Error as e:
    print("Error while connecting to MySQL", e)
finally:
    if connection.is_connected():
        cursor.close()
        connection.close()
        print("MySQL connection is closed")

Connected to MySQL Server version  5.5.5-10.4.21-MariaDB
You're connected to database:  ('st19945_tickerData',)
MySQL connection is closed

****
Pulling Data from SQL and converting to csv

In [17]:
# create sqlalchemy engine
engine = create_engine("mysql+pymysql://{user}:{pw}@{host}/{db}"
                       .format(user=env_vars['USER'],
                               pw=env_vars['PASSWORD'],
                               host=env_vars['HOST'],
                               db=env_vars['DB']))

In [26]:
df = pd.read_sql_table('BTC_Ticker_Data', con=engine, index_col='index')
df.to_csv('Master_Data_File.csv', index=True)

Reading Data from CSV into pandas Dataframe

In [30]:
MasterData = pd.read_csv('Master_Data_File.csv')
MasterData.set_index('index')

,Unix Timestamp,Date,Symbol,Open,High,Low,Close,Volume
index,,,,,,,,
0,1444311600,2015-10-08 13:40:00,BTCUSD,0.00,242.50,0.00,242.50,0.050000
1,1444311660,2015-10-08 13:41:00,BTCUSD,242.50,242.95,242.50,242.95,0.001000
2,1444311720,2015-10-08 13:42:00,BTCUSD,242.95,242.95,242.95,242.95,0.000000
3,1444311780,2015-10-08 13:43:00,BTCUSD,242.95,242.96,242.95,242.96,0.010000
4,1444311840,2015-10-08 13:44:00,BTCUSD,242.96,242.96,242.96,242.96,0.033491
...,...,...,...,...,...,...,...,...
3063873,1634428860000,2021-10-17 00:01:00,BTCUSD,60877.53,60877.53,60851.85,60875.98,0.182190
3063874,1634428920000,2021-10-17 00:02:00,BTCUSD,60875.98,60937.30,60854.84,60922.25,1.135391
3063875,1634428980000,2021-10-17 00:03:00,BTCUSD,60922.25,60925.99,60809.75,60809.75,0.108527
3063876,1634429040000,2021-10-17 00:04:00,BTCUSD,60809.75,60829.33,60716.28,60716.28,0.216773
3063877,1634429100000,2021-10-17 00:05:00,BTCUSD,60716.28,60716.28,60712.32,60715.55,0.022586

Then Start working on the project